<div class='container'>
<div class="calendarMonth">
	<h2>{{monthName}}</h2>
</div>
<div class="calendarBody">
    <app-week-header></app-week-header>
    <app-week *ngFor="let week of weeks" [days]="week"></app-week>
</div>
</div>
<p-dialog header="Title" [(visible)]="display">
    
</p-dialog>