<div class="calendarWeek">
  <div class="calendarDayHeader" >Sunday</div>
  <div  class="calendarDayHeader">Monday</div>
  <div  class="calendarDayHeader">Tuesday</div>
  <div class="calendarDayHeader" >Wednesday</div>
  <div  class="calendarDayHeader">Thursday</div>
  <div  class="calendarDayHeader">Friday</div>
  <div class="calendarDayHeader" >Saturday</div>
</div>